.titulo-colaborar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-decoration: underline;
    text-shadow: 3px 3px 4px green;
    animation-duration: 6s;
}

.parrafocolaborar{
    padding: 1rem;
    margin: 1rem;
    border: rgb(43, 87, 72);
    border-style: groove;
    border-width: 0.5rem;
    font-size: 1.1rem;
    .capitol-letter {
        float: left;
        color: rgb(43, 87, 72);
        background: #d4e9ff;
        border: 1px solid #4a6e92;
        padding: 3px 5px 1px 5px;
        display: block;
        margin-right: 6px;
        font-family: times;
        margin-top: 5px;
        font-size: 80px;
        line-height: 60px;
    }
}

.grid{
    .depo{
        padding: 1rem;
        margin: 1rem;
        justify-content: space-around;
        align-content: space-between;
        
    }
    
}